.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0px;
    z-index: 5;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background: white;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    height: 60px;
    flex: 1;
}
.nav-logo p{
    color: #171717;
    font-size: 24px;
    font-weight: 600;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #626262;
}
.nav-menu li {
    cursor: pointer;
    padding: 4px 10px;
}
.nav-menu li.active{
    border-bottom: 3px solid #FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 16px;
}
.nav-login-cart img{
    height: 60px;
}
.nav-login-cart button{
    padding: 4px 20px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 70px;
    color: #515151;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:hover{
    background-color: #f3f3f3;
}
.nav-login-cart button:active{
    background-color: #f3f3f3;
}
.nav-cart-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 20px;
    background: red;
    color: white;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
}
.nav-login-cart .cart-button{
    position: relative;
    cursor: pointer;
}
.search{
    border-radius: 50px;
    border: 1px solid #FF4141;
    width: 400px;
    overflow: hidden;
    display: flex;
}
.search input {
    font-size: 16px;
    padding: 4px 8px;
    outline: none;
    border: none;
    flex: 1 1;
    line-height: 24px;
}
.search .search-icon {
    height: 32px;
    width: 32px;
    padding: 4px;
    background-color: #FF4141;
    color: white;
}